h1 {
    padding-top: 10%;
    font-size: 3em;
}

.Home .container {
    margin: 5% auto;
    background-image: url('../Home/Assets/home-bkgd.png');
    max-width: 1100px;
    padding: 30px 0;
    min-height: 800px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.Home button {
    padding: 10px 12px;
    width: 400px;
    margin: 0 auto;
    float: none;
    cursor: pointer;
    font-size: large;
}

.Home button:hover {
    width: 450px;
    padding: 12px 14px;
}